[submodule "themes/yinyang"]
	path = themes/yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "themes/coder"]
	path = themes/coder
	url = git@github.com:naro143/hugo-coder-portfolio.git
