

body{
  font-family: "Arvo", Arial, Helvetica, sans-serif;
  letter-spacing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navigation,
.navigation a{
  text-transform: none;
  letter-spacing: initial;
}

.list ul li a {
  text-transform: initial;

}


a {
  text-decoration: initial;
  position: relative;
  transition: initial;
  color: blue;
}

a:before, a:after {
  position: initial;
  bottom: initial;
  content: initial;
  display: initial;
  width: initial;
  height: initial;
  background: initial;
  transition: initial;
  left: initial;
  right: initial;

}


a:hover {
  text-decoration: underline;
  color: blue;
}

a:hover:before, a:hover:after {
  width: initial;
}


a.navigation-title{
  font-size: 2em;
  color: darkred;
}

p a {
  color: blue
}